[git]
    autoCommit = true
    commitMessageTemplate = "♻️ Automatic Update"
    autoPush = true

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]

[edit]
    command = "code"
    args = ["--wait"]
